@model IEnumerable<Item>
@{
    ViewData["Title"] = "Index";
}
<table class="table table-hover" ">
    <thead>
        <tr class="table-light">
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Creation Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-light">
                <td scope="row">@item.Id</td>
                <td scope="row">@item.Name</td>
                <td scope="row">@item.Price</td>
                <td scope="row">@item.Created</td>
            </tr>
        }
    </tbody>
</table>

