@if (TempData["SuccessMessage"] != null)
{
    <h2 style="color:aquamarine">@TempData["SuccessMessage"]</h2>
}

@if (TempData["ErrorMessage"] != null)
{
    <h2 style="color:brown">@TempData["SuccessMessage"]</h2>
}